body {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(235, 131, 130, 1) 0%,
    rgba(235, 131, 130, 0.75) 38.6%,
    rgba(211, 177, 125, 0.52) 72.1%,
    rgba(211, 177, 125, 0.24) 94.7%
  );
  font-family: "Zeyada", cursive;
  font-size: 28px;
}
a {
  text-decoration: none;
  color: rgb(247, 80, 144);
  font-weight: 400;
}
a:hover {
  color: rgb(255, 0, 128);
  font-weight: 700;
}
img {
  max-width: 550px;
  height: auto;
}
